body{
  background-image: url(https://pre00.deviantart.net/90c9/th/pre/i/2007/247/d/f/techie_background_by_belaneau.jpg);
  background-color: black;
  border: 1em solid #999;
  padding:2em

}

main{
  font-family: sans-serif;
  /* font-weight: lighter; */
  font-size: 15px;
  line-height: 1.5;
  background: #ccc;
  background: rgba(255, 255, 255, .7)
}

li{
  padding: .5em 0;
}

footer{
  text-align: center;
  font-size: 12.5px;
  font-style: italic;
  color: #999;
}
/*-----header----*/
h2{
  font-family: "Arial Narrow", sans-serif;
  font-size: 24px;
  margin: 1em 0;
}

h3{
  font-family: "Arial Narrow", sans-serif;
  font-size: 18px;
}

/*---- nav ----*/
nav{
padding: .125em;
}
nav ul{
list-style: none;
padding: 0 0;
margin: 0;
text-align: center;
}
nav li{
display: inline;
font-family: sans-serif;
font-size: 14px;
}
nav a {
text-transform: uppercase;
padding: 1.1em;
margin-top: 0;
text-decoration: none;
color: #999
}
nav a:hover,
nav a:focus {
    color: white;
}

/*----images----- */
img {
  max-width: 100%;
}

#title{
max-width:50em;
}

.center{
  display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0;
      width: 100%;
}
a{
  word-break: break-all;
}
